<div role="tabpanel" class="tab-pane" id="step4">
  <p>25$ registration deposit</p>
  <%= check_box_tag("purchase[registration_fee_paid]")%>
  <p>packing material</p>
  <br><input id="checkBox" type="checkbox"></br>
  <p>$4 moving box</p>
  <br><input id="checkBox" type="checkbox"></br>
  <p>$4 packing tape</p>
  <br><input id="checkBox" type="checkbox"></br>
  <p>$10 mattress bag</p>
  <br><input id="checkBox" type="checkbox"></br>
  <p>7$ bubble wrap</p>
  <br>Total packing_____</br>
  <br><input id="checkBox" type="checkbox"></br>
  <p>total storage______</p>
  <br><input id="checkBox" type="checkbox"></br>

  <div class="container col-xs-12 card-container">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>
  </div>
</div>
