<div role="tabpanel" class="tab-pane" id="step3">
  Packing Checklist and Tips:


  -Receive packing materials and pack.
  -Do not over pack your box.
  -Protect the contents in your box. Use bubble wrap, blankets, towels or anything else that will help protect your belongings.
  -Distribute the weight in your boxes evenly.  For example, do not put all of your text books in one box.
  -Tape your Box very thoroughly! The more tape the better.
  -Make sure all additional items are covered with needed bubble wrap or blankets.
  -Remember your total cost of service must be paid in full by time of move-out.
</div>