<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>About.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	<!-- *****************************************************************************************************************
	 AGENCY ABOUT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<img src="https://www.studentsummerstorage.net/s/cc_images/cache_4027532.jpg?t=1493000788" alt="">
	 		</div>

	 		<div class="col-lg-6">
		 		<h4>More About Us</h4>
		 		<p>SSS was founded in 2016 by a pair of students from Florida attending Albright College in Reading, PA. They needed a space for there belongings over the summer and took notice to many students who had the same need. They came to realize that every student on campus could use this service. So Student Summer Storage Inc was built on a vision of an opportunity and a fulfillment of a great need. From the start SSS has been run by students and will always employ students on every campus we are on to serve their fellow students and families by providing an affordable moving and storage solution during the summer. We are committed to the development of all students. We desire students to gain experience and develop transferable skills in many areas in our internships including advertising, marketing, digital media, customer service, communications, sales, accounting, and management. Our goal is for students to learn the in and outs of business and be thoroughly prepared for the business world. By using Student Summer Storage as your summer moving and storage provider, you are making this happen.

Our mission…
To place our students and families first. We wish to serve students and their families while at college by moving and storing their belongings and providing students with experience in the business world through our internships. We desire to impact the lives of those we serve to continue serving others selflessly their entire lives.</p>
 				<p><br/><a href="contact.html" class="btn btn-theme">Contact Us</a></p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->

	<!-- *****************************************************************************************************************
	 TEEAM MEMBERS
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row centered">
		 	<h3 class="mb">MEET OUR TEAM</h3>

		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAeNAAAAJGRhYzg3YmY2LWYxZTEtNGUyOS1iMjQ4LTZhY2IwZjRmYzE2MA.jpg" alt="">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                    	</div><!-- he bg -->
					</div><!-- he view -->
				</div><!-- he wrap -->
				<h4>Michael</h4>
				<h5 class="ctitle">CEO</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->

		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAeNAAAAJGRhYzg3YmY2LWYxZTEtNGUyOS1iMjQ4LTZhY2IwZjRmYzE2MA.jpg" alt="">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                    	</div><!-- he bg -->
					</div><!-- he view -->
				</div><!-- he wrap -->
				<h4>Michael</h4>
				<h5 class="ctitle">LEAD DESIGNER</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->

		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAeNAAAAJGRhYzg3YmY2LWYxZTEtNGUyOS1iMjQ4LTZhY2IwZjRmYzE2MA.jpg" alt="">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                    	</div><!-- he bg -->
					</div><!-- he view -->
				</div><!-- he wrap -->
				<h4>Michael</h4>
				<h5 class="ctitle">LEAD DEVELOPER</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->

		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAeNAAAAJGRhYzg3YmY2LWYxZTEtNGUyOS1iMjQ4LTZhY2IwZjRmYzE2MA.jpg" alt="">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                    	</div><!-- he bg -->
					</div><!-- he view -->
				</div><!-- he wrap -->
				<h4>Michael</h4>
				<h5 class="ctitle">MARKETING</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->

	 	</div><! --/row -->
	 </div><! --/container -->





	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
<div id="footerwrap">
	<div class="container">
 	<div class="row">
 		<div class="col-lg-4">
 			<h4>About</h4>
 			<div class="hline-w"></div>
 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
 		</div>
 		<div class="col-lg-4">
 			<h4>Social Links</h4>
 			<div class="hline-w"></div>
 			<p>
 				<a href="#"><i class="fa fa-dribbble"></i></a>
 				<a href="#"><i class="fa fa-facebook"></i></a>
 				<a href="#"><i class="fa fa-twitter"></i></a>
 				<a href="#"><i class="fa fa-instagram"></i></a>
 				<a href="#"><i class="fa fa-tumblr"></i></a>
 			</p>
 		</div>
 		<div class="col-lg-4">
 			<h4>Our Bunker</h4>
 			<div class="hline-w"></div>
 			<p>
 				Some Ave, 987,<br/>
 				23890, New York,<br/>
 				United States.<br/>
 			</p>
 		</div>

 	</div><! --/row -->
	</div><! --/container -->
</div><! --/footerwrap -->