
<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->

	<div id="headerwrapp">
		<div class="layer">



				<div class="container">
				<div class="row">




				</div><!-- /row -->
				</div> <!-- /container -->

	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">



					<img class="home" src="https://p50-mailws.icloud.com/wm/messagepart/logocoolio.png?guid=messagepart%3AINBOX%2F1624-2.2&type=image%2Fpng&uniq=youcanreach_will&name=logocoolio.png&size=159802&dsid=10652398597&clientId=5FE52C11-ED4F-49DA-AD59-68D417AB6346" alt="">

				</div>
        <div class="home">
				<div class="col-lg-8 col-lg-offset-2 himg">
					<!-- <img src="http://fastcheapmovers.com/uploads/6/9/3/4/69349133/1263400_orig.png" class="img-responsive"> -->
				</div>
        </div>
			</div><!-- /row -->
	    </div>
			</div><!-- /container -->
	</div><!-- /headerwrap -->
	</div>

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="services">
		 <center>
		 <h1>Moving Made Easy</h1>
		 </center>
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">

          <img class="how" src="http://image1.masterfile.com/getImage/NDAwLTA0NjYxNDcyZW4uMDAwMDAwMDA=AN2rwI/400-04661472en_Masterfile.jpg">
 					<h4>Register and Pack</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
 				</div>
 				<div class="col-md-4">
          <img class="why" src="https://ak8.picdn.net/shutterstock/videos/15368767/thumb/4.jpg" alt="">
 					<h4>We Pick up</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
 				</div>
 				<div class="col-md-4">
          <img class="wen" src="http://carnforthdocumentstorage.ca/images/carnforth-document-security.jpg" alt="">
 					<h4>We store</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
 				</div>
				<div class="col-md-4">
          <img class="whenn" src="https://previews.123rf.com/images/texelart/texelart1211/texelart121100015/16600796-3d-white-persons-unloading-boxes-from-a-truck-to-a-hand-truck-3d-image-Isolated-white-background-Stock-Photo.jpg" alt="">
 					<h4>We Deliver</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
 				</div>
				<img src="/images/cool.png" alt="">
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->
	 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!-- Links (sit on top) -->


<!-- Content -->








  <!-- Grid -->
  <div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64">
      <h1>Pricing Plans</h1>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Small</li>
        <li class="w3-padding-16"> Boxed TV (< 18inx18inx18in)</li>
        <li class="w3-padding-16"> Mirror</li>
        <li class="w3-padding-16"> Stool</li>
        <li class="w3-padding-16">Fan</li>
				<!-- <li class="w3-padding-16">Lamp</li> -->


        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 35</h2>
          <span class="w3-opacity">per month</span>
					<H3>Example Item</H3>
					<img src="https://s-media-cache-ak0.pinimg.com/736x/aa/9b/28/aa9b2899f5201aff26aa4588306997a5--pedestal-fan-electric-fan.jpg" alt="">

        </li>
        <!-- <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Sign Up</button>
        </li> -->
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Medium</li>
        <li class="w3-padding-16">Box(< 24inx24inx24in)</li>
        <li class="w3-padding-16"> Plastic Bin/Tote</li>
        <li class="w3-padding-16"> Tv in box < 32in</li>
        <li class="w3-padding-16"> Suitcase</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 45</h2>
          <span class="w3-opacity">per month</span>
					<H3>Example Item</H3>
					<img src="https://s-media-cache-ak0.pinimg.com/736x/08/d8/d5/08d8d5fd5c04841423a3d02877fce23e.jpg" alt="">

        </li>
        <!-- <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Large</button>
        </li> -->
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Large</li>
        <li class="w3-padding-16">TV(>32in < 48in)</li>
        <li class="w3-padding-16"> Large Plastic Bin</li>
        <li class="w3-padding-16"> Mini Fridge</li>
        <li class="w3-padding-16"> Desk Chair</li>
				<!-- <li class="w3-padding-16"> Coffee Table</li> -->

        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 60</h2>
          <span class="w3-opacity">per month</span>
					<H3>Example Item</H3>
					<img src="https://i.pinimg.com/736x/6a/61/e0/6a61e06ceca1a0aa4eccef68d95de827--compact-refrigerator-refrigerator-freezer.jpg" alt="">

        </li>
        <!-- <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Sign Up</button>
        </li> -->
      </ul>
    </div>
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow">
				<li class="w3-black w3-xlarge w3-padding-32">Extra Large</li>
				<li class="w3-padding-16">TV(>48in < 60in) </li>
				<li class="w3-padding-16">Small Dresser</li>
				<li class="w3-padding-16"> Twin Mattress/Box</li>
				<li class="w3-padding-16">Desk</li>
				<li class="w3-padding-16">
					<h2 class="w3-wide">$ 75</h2>
					<span class="w3-opacity">per month</span>
					<H3>Example Item</H3>
					<img src="https://s7d9.scene7.com/is/image/BedBathandBeyond/119394061378582p" alt="">
				</li>
				<!-- <li class="w3-light-grey w3-padding-24">
					<button class="w3-button w3-green w3-padding-large">Sign Up</button>
				</li> -->
			</ul>
		</div>
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow">
				<li class="w3-black w3-xlarge w3-padding-32">huge</li>
				<li class="w3-padding-16"><b>50GB</b> TV(>60in < 70in)</li>
				<li class="w3-padding-16">Full-Queen</li>
				<li class="w3-padding-16">Large Dresser</li>
				<li class="w3-padding-16"> Couch</li>
				<li class="w3-padding-16">
					<h2 class="w3-wide">$ 95</h2>
					<span class="w3-opacity">per month</span>
					<H3>Example Item</H3>
					<img src="https://s-media-cache-ak0.pinimg.com/736x/7d/2a/c9/7d2ac967f5bf0b119bc020ca356aa987.jpg" alt="">
				</li>
				<!-- <li class="w3-light-grey w3-padding-24">
					<button class="w3-button w3-green w3-padding-large">Sign Up</button>
				</li> -->
			</ul>
		</div>
  </div>
  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Our Customers</span>
    </div>

    <!-- <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team1.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Jane Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Art Director</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team3.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>
  </div> -->
	<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>

<section id="carousel">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item">
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    	<div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
				    </div>
				    <div class="item">
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    	<div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
				    </div>
				    <div class="item">
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    	<div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>

  <!-- Contact -->


  <form class="w3-container" action="/action_page.php" target="_blank">
		<center><h1>Contact us</h1></center>
      <label>Name</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
    </div>
    <div class="w3-section">
      <label>Email</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
    </div>
    <div class="w3-section">
      <label>Subject</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
    </div>
    <div class="w3-section">
      <label>Message</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
    </div>
    <button type="submit" class="w3-button w3-block w3-black">Send</button>
  </form>

</div>

<!-- Footer -->




<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>

	<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->




	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->


	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->


	<!-- *****************************************************************************************************************
	 OUR CLIENTS
	 ***************************************************************************************************************** -->


	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="#"><i class="fa fa-dribbble"></i></a>
		 				<a href="#"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 				<a href="#"><i class="fa fa-tumblr"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Our Bunker</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Some Ave, 987,<br/>
		 				23890, New York,<br/>
		 				United States.<br/>
		 			</p>
		 		</div>

		 	</div><!--/row -->
	 	</div><!--/container -->
	 </div><!--/footerwrap -->



<script>
	(function($) {
		"use strict";
		var $container = $('.portfolio'),
			$items = $container.find('.portfolio-item'),
			portfolioLayout = 'fitRows';

			if( $container.hasClass('portfolio-centered') ) {
				portfolioLayout = 'masonry';
			}

			$container.isotope({
				filter: '*',
				animationEngine: 'best-available',
				layoutMode: portfolioLayout,
				animationOptions: {
				duration: 750,
				easing: 'linear',
				queue: false
			},
			masonry: {
			}
			}, refreshWaypoints());

			function refreshWaypoints() {
				setTimeout(function() {
				}, 1000);
			}

			$('nav.portfolio-filter ul a').on('click', function() {
					var selector = $(this).attr('data-filter');
					$container.isotope({ filter: selector }, refreshWaypoints());
					$('nav.portfolio-filter ul a').removeClass('active');
					$(this).addClass('active');
					return false;
			});

			function getColumnNumber() {
				var winWidth = $(window).width(),
				columnNumber = 1;

				if (winWidth > 1200) {
					columnNumber = 5;
				} else if (winWidth > 950) {
					columnNumber = 4;
				} else if (winWidth > 600) {
					columnNumber = 3;
				} else if (winWidth > 400) {
					columnNumber = 2;
				} else if (winWidth > 250) {
					columnNumber = 1;
				}
					return columnNumber;
				}

				function setColumns() {
					var winWidth = $(window).width(),
					columnNumber = getColumnNumber(),
					itemWidth = Math.floor(winWidth / columnNumber);

					$container.find('.portfolio-item').each(function() {
						$(this).css( {
						width : itemWidth + 'px'
					});
				});
			}

			function setPortfolio() {
				setColumns();
				$container.isotope('reLayout');
			}

			$container.imagesLoaded(function () {
				setPortfolio();
			});

			$(window).on('resize', function () {
			setPortfolio();
		});
	})(jQuery);
</script>
<style>
/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


section {

    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e5e5e5;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
</style>
  </body>
</html>
