
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Pricing.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
</p>


<div class="plans">
  <div class="plan">
    <img src="https://www.stowsimple.com/images/2x4%20Urbin%20Closet_COLLEGE.gif" alt="">
    <h3 class="plan-title">Small Items</h3>
    <p class="plan-price">$35 <span class="plan-unit">per month</span></p>
    <ul class="plan-features">
      <li class="plan-feature">Box <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mirror<span class="plan-feature-unit"></span> <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Stool<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Fan<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mat<span class="plan-feature-name"></span></li>


    </ul>
    <a href="#" class="plan-button">Choose Plan</a>
  </div>
  <div class="plan plan-highlight">
    <p class="plan-recommended">Recommended</p>
    <img src="https://www.stowsimple.com/images/2x4%20Urbin%20Closet_COLLEGE.gif" alt="">
    <h3 class="plan-title">Medium Items</h3>
    <p class="plan-price">$45 <span class="plan-unit">per month</span></p>
    <ul class="plan-features">
      <li class="plan-feature">Box <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mirror<span class="plan-feature-unit"></span> <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Stool<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Fan<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mat<span class="plan-feature-name"></span></li>
    </ul>
    <a href="#" class="plan-button">Choose Plan</a>
  </div>
  <div class="plan">
    <img src="https://www.stowsimple.com/images/5x5%20Urbin%20Closet_COLLEGEv2.gif" alt="">

    <h3 class="plan-title">Large Items</h3>
    <p class="plan-price">$60 <span class="plan-unit">per month</span></p>
    <ul class="plan-features">
      <li class="plan-feature">Box <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mirror<span class="plan-feature-unit"></span> <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Stool<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Fan<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mat<span class="plan-feature-name"></span></li>
    </ul>
    <a href="#" class="plan-button">Choose Plan</a>
  </div>
  <div class="plan">
    <img src="https://www.stowsimple.com/images/5x8%20Urbin%20Closet_COLLEGE%20copy.gif" alt="">
    <h3 class="plan-title">Extra Large</h3>
    <p class="plan-price">$75 <span class="plan-unit">per month</span></p>
    <ul class="plan-features">
      <li class="plan-feature">Box <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mirror<span class="plan-feature-unit"></span> <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Stool<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Fan<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mat<span class="plan-feature-name"></span></li>
    </ul>
    <a href="#" class="plan-button">Choose Plan</a>
  </div>
  <div class="plan">
    <img src="https://www.stowsimple.com/images/Icon_SS_Large%20Storage%20Unit.gif" alt="">
    <h3 class="plan-title">Huge Items</h3>
    <p class="plan-price">$95 <span class="plan-unit">per month</span></p>
    <ul class="plan-features">
      <li class="plan-feature">Box <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mirror<span class="plan-feature-unit"></span> <span class="plan-feature-name"></span></li>
      <li class="plan-feature">Stool<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Fan<span class="plan-feature-name"></span></li>
      <li class="plan-feature">Mat<span class="plan-feature-name"></span></li>
    </ul>
    <a href="#" class="plan-button">Choose Plan</a>
  </div>
</div>
<center>
  <p>Student Summer Storage will always compete to offer you the most affordable
    <P> pricing in the industry. We guarantee lowest advertised price of all alike</P>
    <p>moving and storage services nationwide.</P>
  <p>To get started we ask that you complete registration by May 1st and pay a </P>
    <p>$25.00 non-refundable deposit to reserve your spot. This deposit will be </p>
    <p> deducted from your total storage cost. Late registrations are accepted but may incur a fee.</p>
</center>
<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
 <div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>About</h4>
        <div class="hline-w"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <div class="col-lg-4">
        <h4>Social Links</h4>
        <div class="hline-w"></div>
        <p>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-tumblr"></i></a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Our Bunker</h4>
        <div class="hline-w"></div>
        <p>
          Some Ave, 987,<br/>
          23890, New York,<br/>
          United States.<br/>
        </p>
      </div>

    </div><! --/row -->
  </div><! --/container -->
 </div><! --/footerwrap -->
