
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Pricing.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
</p>

<p>Student Summer Storage will always compete to offer you the most affordable pricing in the industry. We guarantee lowest advertised price of all alike moving and storage services nationwide.
To get started we ask that you complete registration by May 1st and pay a $25.00 non-refundable deposit to reserve your spot. This deposit will be deducted from your total storage cost. Late registrations are accepted but may incur a fee.</p>
