
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
// THIS IS TO REQUIRED ANY FILE IN THE VENDOR
// You want to include library in the /vendor/assets/stylesheets/.
// file tha you are not going to modified.
// *= require_tree ../../../vendor/assets/stylesheets/.

.img-responsive {
 display: block;
 max-width: 60%;
 height: auto;
}

.how {
  width: 137px;
}
.why {
  width: 215px;
}

.wen {
  width: 122px;
}

.whenn {
  width: 142px;
}

 .round {
   border-radius: 50%;
 }


.round {
  border-radius: 50%;
}



body {
  font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  background: #eeebe4;
}

.plans {
  width: 836px;
  margin: 30px auto;
  overflow: hidden;
}

.plan {
  float: left;
  width: 150px;
  margin: 20px 2px;
  padding: 15px 25px;
  text-align: center;
  background: white;
  background-clip: padding-box;
  border: 2px solid #e5ded6;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.plan-title {
  margin-bottom: 12px;
  font-size: 24px;
  color: #36bce6;
}

.plan-price {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  color: #fd935a;
}

.plan-unit {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}

.plan-features {
  margin: 20px auto 15px;
  border-top: 1px solid #e5ded6;
  text-align: left;
}

.plan-feature {
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 8px 0;
  position: relative;
  &:hover {
    .delete {
      opacity: 1;
      cursor: pointer;
    }
  }
  .delete {
    opacity: 0;
    transition: 200ms;
    position: absolute;
    right: 6px;
    font-size: 12px;
    top: 0px;
    font-weight: bold;
  }
}

.plan-feature + .plan-feature {
  margin-top: 5px;
}

.plan-feature-unit {
  margin-left: 2px;
  font-size: 12px;
}

.plan-feature-desc {
  font-size: 16px;
  font-weight: normal;
  color: #aaa;
}

.plan-button {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: #fd935c;
  border-bottom: 2px solid #cf7e3b;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.plan-button:active {
  top: 2px;
  margin-bottom: 2px;
  border-bottom: 0;
}

.plan-highlight {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 170px;
  border: 4px solid #37bbe6;
}

.plan-highlight .plan-button {
  font-size: 18px;
  line-height: 49px;
  background: #37bce5;
  border-color: #3996b3;
  border-color: rgba(0, 0, 0, 0.15);
}

.plan-recommended {
  width: 160px;
  margin: -15px auto 15px;
  padding-bottom: 2px;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.05);
  background: #37bbe6;
  border-radius: 0 0 4px 4px;
}

#headerwrapp {
  background-image: url(https://www.securityselfstorage.co.uk/wp-content/uploads/2016/02/student-storage-security-self-storage-waltham-cross-students-image.jpg);
  border: blue;
  background-color: #00b3fe;
  min-height: 439px;
  padding-top: 79px;
  padding-bottom: 0px;
  text-align: center;
  margin-top: 100px;
  color: white;
}


#blu {
  background: rgba(32, 36, 84, 0.3);

}
@media (min-width: 1200px) {
  left: 290px;
}


.when {
width: 255px;
}
div.col-md-4 {
  width: 280px;
}
.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

div.w3-third.w3-margin-bottom {
  width: 200px;
}
div.navbar {
      background-color: #1E3888;
      color: #e6ca37;
}

div#blue {
  background: #03CEA4;
  font-size: larger;
  color: white;
}

li.w3-black {
  background-color: #202454!important;
}

.blue {
  color: #dad83a;
}



button.w3-button.w3-block.w3-black{
  background-color: #202454!important;
}

.layer {
  background-color: rgba(3, 206, 164, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 568px;
}
.home {
  margin-top: 142px;
width: 535px;
}
#services {
  margin-top: 43px;
}
.w3-padding-16 {
  background: white;
}

div#plans {
  background: #EFEFEF;
}
div.w3-third.w3-margin-bottom {
  width: 283px;
}

.circ {
  border-radius: 50%;
}
.about {
  background: #EFEFEF;
}
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
div.optional {
  margin-left: 50px;
}
div.flex {
  margin-top: -88px;
}
select#user_schoolname {
  width: 193px;
  height: 34px;
}
select#user_schoolyear {
  width: 193px;
  height: 34px;
}

#step1 {
  width: 410px;
}
.step2list {
  width: 78%;
  padding-left: 300px;
}
